POSTGRES_MAJOR=18
IMAGE_VARIANT=timescale
POSTGRES_TAG=18-timescale

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
